@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Wix+Madefor+Display:wght@400..800&display=swap');
* {
    box-sizing: border-box;
} 
::selection {
    background-color: #c9e9ed;
}
body {
    color:#6b6b6b;
    padding: 0;
    margin: 0;
    font-family: "Wix Madefor Display", sans-serif;
    background-color: #e4e4e4;      
}
.contenitore {
    max-width: 90%;
    border-radius: 8px;
    margin: 2% auto;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
.sopratitolo {
    margin: 0;
}
.titolo {
    font-family: "Black Han Sans", sans-serif;
    display: inline-block;
    font-weight: 400;
    margin-top: 5px;
}
h1, h3 {
    color: #222;  
}
/*.foto, .testo {
    display: inline-block;
    vertical-align: middle;
}*/
img {
    max-width: 100%;
    border-radius: 8px;
}
.foto {
    /*width: 45%;
    line-height: 0;*/
    height: 100%;
    background: #fca603;
    background: linear-gradient(90deg, #fca603 0%, #fca603 73%, #fff 73%);
    border-radius: 8px;
}
.foto img {
    display: block;
    max-height: 93vh;
}
.testo {
    /*width: 34.5%;*/
    padding: 10%;
}
ul {
    padding-left: 15px;
    list-style-type: circle;
}
ul a {
    text-decoration: none;
    color: #ba7b57;
}
.gif {
    display: flex;
    justify-content: space-between;
}
.gif img {
    max-width: 49%;
}