@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Wix+Madefor+Display:wght@400..800&display=swap');

body {
    color:#6b6b6b;
    padding: 0;
    margin: 0;
    font-family: "Wix Madefor Display", sans-serif;
    background-color: #e4e4e4;      
}
.contenitore {
    max-width: 90%;
    border-radius: 8px;
    margin: 2% auto;
    background-color: white;
}
.sopratitolo {
    margin: 0;
}
.titolo {
    font-family: "Black Han Sans", sans-serif;
    display: inline-block;
    font-weight: 400;
    margin-top: 5px;
}
h1, h3 {
    color: #222;  
}
img {
    height: 100%;
    max-width: 100%;
    border-radius: 8px;
}
.foto, .testo {
    display: inline-block;
    vertical-align: middle;
}
.foto {
    width: 45%;
    line-height: 0;
}
.foto img {
    max-height: 93vh;
}
.testo {
    width: 34.5%;
    padding: 5% 10%;
}
ul {
    padding-left: 15px;
}
ul a {
    text-decoration: none;
    color: #ba7b57;
}
.nando {
    max-width: 75%;
}